<h2>Here is your specialty request:</h2>
    <ul>
        <p>NAME: <%= returnObj.name %></p>
        <p>CITY: <%= returnObj.location %></p>
        <p>INTRO: <%= returnObj.bio %></p>
        <p>SPECIALTY: <%= returnObj.specialty %></p>
        <p>CONTACT: <%= returnObj.phone %></p>
        
        <form method="POST" action="/allMessages">
            <input type="hidden" value="<%= returnObj.id %>" name="therapistId">
            <input type="hidden" value="<%= currentUser.id %>" name="userId">
            <input type="text" value="subject" name="subject" placeholder="... message title">
            <input type="text" value="body" name="body" placeholder="...message this therapist">
            <input type="submit" value="message">
        </form>
    </ul>